body {
    margin: 0;
    padding: 0;
    background: url(../imag/Logo/LogoSportApp.PNG) no-repeat center top;
    background-size: cover;
    font-family: sans-serif;
    height: 100vh;
}

@media (max-width: 767.98px) {
    .tile {
        margin-left: 10px;
        margin-right: 10px;
        margin-top: 10px;

    }

    .image {
        max-width: 450px;
        max-height: 450px;
        display: block;
        margin: auto;
    }

    .column {
        margin-left: 10px;
        margin-right: -15px;
    }

    .box1 {
        width: 200px;
        height: 290px;
        margin-top: -290px;
        margin-left: 450px;
    }

    .box2 {
        width: 200px;
        height: 290px;
        margin-top: -290px;
        margin-left: 650px;
    }

    .box3 {
        width: 200px;
        height: 290px;
        margin-top: -290px;
        margin-left: 850px;
    }
}