body {
    margin: 0;
    padding: 0;
    background: url(../imag/Logo/LogoSportApp.PNG) no-repeat center top;
    background-size: cover;
    font-family: sans-serif;
    height: 100vh;
}

@media only screen and (min-width: 1280px) {


    .image {
        max-width: 450px;
        max-height: 450px;
        display: block;
        margin: auto;
    }

    .column {
        margin-left: 10px;
        margin-right: 10px;
    }

    .box1 {
        width: 900px;
        height: 900px;
        margin-top: 10px;
        margin-left: 10px;
        margin-right: 10px;
    }

}

@media (min-width: 576px) {
    .tile {
        margin-left: 10px;
        margin-right: 10px;
        margin-top: 10px;

    }

    .image {
        max-width: 450px;
        max-height: 450px;
        display: block;
        margin: 100%;
    }

    .column {
        margin-left: 10px;
        margin-right: 10px;
    }

    .box1 {
        width: 800px;
        height: 200px;
        margin-top: 80px;
        margin-left: 20px;
        margin-right: 70px;
    }
}